<html>
    <body>
        <form method="post" action="/update/<%=mydata._id%>">
            name:<input type="text" name="txt1" value="<%=mydata.uname%>" required/>
            mobile:<input type="number" name="txt2" value="<%=mydata.umobile%>" required/>
            email:<input type="email" name="txt2" value="<%=mydata.uemail%>"required/>
            <input type="submit"/>
        </form>
    </body>
</html>